.chordPage {
    display: grid;
    grid-template-areas:"notes  title   ."
                        "notes  diagram traits";
    grid-template-columns: 1fr auto 1fr;
}

@media screen and (max-width:700px) {
    .chordPage {
        grid-template-areas:"title"
                            "diagram"
                            "traits"
                            "notes";
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }
}