.chordCreator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.noteButtons {
    width: 50vh;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.noteButtons > h1 {
    margin: 0;
    align-self: center;
    color: lightgray;
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .noteButtons {
        width: 66vw;
        height: 66vw;
    }

    .noteButtons > h1 {
        width: 60%;
    }
}

.noteButtons > button {
    position: absolute;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

.noteButtons > button:hover,
.noteButtons > button:focus,
.noteButtons > button:active {
    border: 2px solid black;
    font-weight: bold;
    outline: none;
}

.noteButtons > button:focus {
    animation: fade 2s infinite linear;
}

@keyframes fade {
    0% {
        border:2px solid black;
    }
    50% {
        border:2px solid white;
    }
    100% {
        border:2px solid black;
    }
}

.noteButtons :nth-child(1) {
    top:  calc(0%  - 1.5rem);
    left: calc(50% - 1.5rem);
}

.noteButtons :nth-child(4) {
    top:  calc(50%  - 1.5rem);
    left: calc(100% - 1.5rem);
}

.noteButtons :nth-child(7) {
    top:  calc(100%  - 1.5rem);
    left: calc(50% - 1.5rem);
}

.noteButtons :nth-child(10) {
    top:  calc(50%  - 1.5rem);
    left: calc(0% - 1.5rem);
}

.noteButtons :nth-child(2) {
    top:  calc(6%  - 1.5rem);
    left: calc(74% - 1.5rem);
}

.noteButtons :nth-child(6) {
    top:  calc(94%  - 1.5rem);
    left: calc(74% - 1.5rem);
}

.noteButtons :nth-child(3) {
    top:  calc(26%  - 1.5rem);
    left: calc(94% - 1.5rem);
}

.noteButtons :nth-child(5) {
    top:  calc(74%  - 1.5rem);
    left: calc(94% - 1.5rem);
}

.noteButtons :nth-child(8) {
    top:  calc(94%  - 1.5rem);
    left: calc(26% - 1.5rem);
}

.noteButtons :nth-child(12) {
    top:  calc(6%  - 1.5rem);
    left: calc(26% - 1.5rem);
}

.noteButtons :nth-child(9) {
    top:  calc(74%  - 1.5rem);
    left: calc(6% - 1.5rem);
}

.noteButtons :nth-child(11) {
    top:  calc(26%  - 1.5rem);
    left: calc(6% - 1.5rem);
}